@import url("common.css");

@font-face {
  font-family: CreatoDisplayRegular; /* set name */
  src: url(./../fonts/CreatoDisplay-Regular.otf); /* url of the font */
}
@font-face {
  font-family: CreatoDisplayThin; /* set name */
  src: url(./../fonts/CreatoDisplay-Thin.otf); /* url of the font */
}

.grid-container div {
  padding: 10px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

body {
  background-color: white;
  letter-spacing: 0.15rem;
  font-family: CreatoDisplayRegular;
  font-size: 13pt;
  line-height: 2.25em;
}
p {
  font-family: CreatoDisplayRegular;
}

input,
select,
textarea {
  font-family: CreatoDisplayRegular;
  font-size: 13pt;
  font-weight: 300;
  line-height: 2.25em;
}

a {
  color: #883689ff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: solid 1px #eee;
}
